<form action="/api/users/login" method="post">

    <label for="input-email">Email</label>
    <input name="email" id="input-email" type="text" placeholder="Email">
    
    
    <label for="input-password">Email</label>
    <input placeholder="password" name="password" type="password">


    <button type="submit">Login</button>
</form>

